@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:"Baskervville SC", serif;
}

header{
    padding: 20px;
    width: 100%;
}

.header-logo{
    display: flex;
    align-items: center;
    margin-left: 20px;
}

.header-logo img{
    width: 35px;
}

.header-logo h3{
    font-size: 24px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin: 0;
    
}

nav ul{
    list-style: none;
    margin-left:25%;
}

nav ul li{
    display:inline;
    justify-content: space-around;
    align-items: center;
    padding: 0px 8px;
   
}

nav ul li a{
    text-decoration: none;
    color: #333;
    justify-content: right;
}

.hamburger img{
    display: none;
}

.header-button a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    padding: 9px 9px;
    border-radius: 9px;
    border: 1px solid #6e6c6c;
} 

.header-button a:hover{
    color: rgb(0, 0, 0);
    background-color:#b9ff66;
    /* padding: 1px; */
}
/* End of Styling Header and Navigation Bar */

/* Hero Section */

.hero-section{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: 100%;
}

.hero-text{
    width: 100%;
    padding: 0 30px;
}

.hero-text h4{
    font-family:"Baskervville SC", serif;
    width: 55%;
    font-size: 2.5em;
    line-height: 3rem;
    margin-bottom: 5%;
}

.hero-text p{
    font-size: 21px;
    line-height: 28px;
    margin-bottom: 18px;
    /* width: 65%; */
}

.hero-text button{
    background-color: #0a0404;
    color: #fff;
    border: none;
    padding: 15px 25px;
    border-radius: 9px;
    cursor: pointer;
}

.hero-text button a{
    text-decoration: none;
    color: #fff;
    font-size: 20px;
}

.hero-section button:hover{
    color: #fff;
    background-color: #6e6f6fd6;
}
.hero-image img{
    width: 500px;
    padding: 0 44px;
}

.hero-logos{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
}
@media (max-width:935px) {
    nav ul{
        margin-left:1%;
    }
}
@media (max-width:768px) {
    nav ul li{
        display: none;
    }
    .header-button{
        display: none;
    }   
    .hamburger img{
        display:inline;
    }
    .header-logo{
       margin-right:40%;
    }
    .hero-image img{
        width: 100px;
        /* align-items: center;
        justify-content: center; */
        /* margin-left: 60px; */
    }
}
@media (max-width: 1061px) {
    .hero-section{
        flex-direction: column;
        padding:0 21px;
        align-items: center;
        width: 100%;
    }
    .hero-image img{
        width: 450px;
        align-items: center;
        justify-content: center;
    }
    .hero-text h4{
        width:100%;
        font-size: 34px;
        line-height:1.1em;
        text-align: center;
    }
    .hero-text p{
        width:100%;
        text-align: center;
    }
    .hero-text button{
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .hero-text button a{ 
        text-align: center;
        
    }
}
@media (max-width: 510px) {
    .hero-image img{
        width: 320px;
        padding: 10px 0;
    }
}
@media (max-width: 350px) {
    .hero-image img{
        width: 200px;
        padding: 10px 0;
    }
    .hero-text button a{
        font-size: 17px;
    }
}
/* End of Hero Section */  
.service-section{
    width: 100%;
    padding: 27px 2em;
}

.service-header{
    width: 100%;
}

.service-header h4{
    font-size: 2em;
    /* line-height: 3rem; */
    background-color: #b9ff66;
    width: 4em;
}

.service-header p{
    font-size: 18px;
    line-height: 2rem;
    margin-bottom: 30px;
}
.service-cards{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 30px;
}

.service-cards img{
    width: 450px;
    height: auto;
    margin:10px 0px;
}

@media (max-width:991px) {
    .service-cards img{
        width: 310px;
    }
}
@media (max-width:701px) {
    .service-cards img{
        width: 250px;
    }
}

.service-element{
    display: flex;
    justify-content: center;
    padding: 30px;
    border: 2px solid black;
    border-radius: 3em;
    background-color: #f3f3f3;
    margin-top: 50px;
    align-items: center;
}

.service-element-text h4{
    font-size: 2.5em;
}

.service-element-text a{
    text-decoration: none;
    color: white !important;
    font-size: 20px;
    padding: 13px 16px;
    border-radius: 13px;
    border: 1px solid #000000;
    background-color: #0a0404;
    width: 100%;
}

.service-element:hover{
    background-color: #b9ff66;
}

.service-element-text a:hover{
    background-color: #6e6c6c;
}
.service-element-text p{
    margin-bottom: 30px;
    margin-top: 30px;
    font-size: 22px;
    width: 80%;
}
.service-element-image img{
    width: 300px;
    height: auto;
}
@media (max-width: 720px) {

    .service-element-image img{
        width: 220px;
        height: auto;
    } 

}
@media (max-width:643px) {
    .service-element{
        flex-direction: column;
        text-align: center;
        align-items: center;
    }
    .service-element-text p,.service-element-text a{
        align-items: center;
        text-align: center;
        width: 100%;
    }
    .service-element-image img{
        width: 250px;
        height: auto;
        padding-top: 30px;
        align-items: center;
    } 
}
@media (max-width: 378px) {
    .service-element-text a{
        font-size: 15px;
        padding: 9px 10px;
    }
    .service-element-image img{
        width: 200px;
    }  
}
@media (max-width: 563px) {
    .service-cards img{
        width: 100%;
    }   
}

/* End of Service Section */

.case-section{
    width: 100%;
    padding: 27px 2em;
}

.case-header{
    width: 100%;
}

.case-header h3{
    font-size: 2em;
    /* line-height: 3rem; */
    background-color: #b9ff66;
    width: 6em;
}

.case-header p{
    font-size: 28px;
    line-height: 2rem;
    margin-bottom: 30px;
    width: 100%;
}

.case-element{
    display: flex;
    justify-content: center;
    /* margin-top: 30px; */
    background-color: black;
    color: #fff;
    padding: 3.5em 20px;
    border-radius: 3em;
   
}
.paragraph-1{
    border-right: 1px solid #fff;
    margin-left: 1em;
    /* width: 100%; */
    line-height: 20px;
}
.paragraph-2{
    border-right: 1px solid #fff;
    padding-left: 2em;
    line-height: 20px;
    width: 100%;
}
.paragraph-1b{
    padding-left: 2em;
    width: 100%;
    line-height: 20px;
}
.case-element p{
    font-size: 13px;
    width: 100%;
    font-family: 'Courier New', Courier, monospace;
    align-items: center;
}

.case-element a{
    color: #b9ff66;
    text-decoration: none;
}
.case-element a img{
    width: 10px;
}
@media (max-width: 1200px) {
    .case-element{
        flex-direction: column;
        border: none;
    }
    .paragraph-1, .paragraph-2{
        border: none;
    }
    .paragraph-1, .paragraph-2, .paragraph-1b{
        width: 100%;
        margin-bottom: 25px;
        font-size: 19px;
        text-align: center;
        padding: 10px;
    }
    .paragraph-1 p, .paragraph-2 p, .paragraph-1b p {
        font-size: 23px;
        text-align: center;
    }
}
/* end of case studies styling */

.process-section{
    width: 100%;
    padding: 27px 2em;
}

.process-header{
    width: 100%;
}

.process-header h3{
    font-size: 2em;
    /* line-height: 3rem; */
    background-color: #b9ff66;
    width: 10.3em;
}

.process-header p{
    font-size: 28px;
    line-height: 2rem;
    margin-bottom: 30px;
    width: 100%;
}

.process-elements{
    width: 100%;
}

.elements-1{
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 3px black;
    background-color: #b9ff66;
    margin-bottom: 25px;
}

.elements-1 p{
    font-size: 18px;
    width: 100%;
    line-height: 2rem;
}
.elements-1-header{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}
.elements-1-header-text{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    font-size: 23px;   
}

.elements-1-header-text h3{
     font-size: 3em;
}
.elements-1-header-text h4{
    text-align: center;
    margin-top: 13px;
}
.elements-1-header-image {
    align-items: center;
    margin-top: 30px;
    margin-right: 1em;
}

.elements-1-header-image img{
    width: 30px;
    height: auto;
}

.elements-2{
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 3px black;
    background-color: #b9ff66;
    margin-bottom: 25px;
}
.elements-2 p{
    font-size: 18px;
    width: 100%;
    line-height: 2rem;
}
.elements-2-header{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}
.elements-2-header-text{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    font-size: 23px;   
}

.elements-2-header-text h3{
     font-size: 3em;
}
.elements-2-header-text h4{
    text-align: center;
    margin-top: 13px;
}
.elements-2-header-image {
    align-items: center;
    margin-top: 30px;
    margin-right: 1em;
}

.elements-2-header-image img{
    width: 30px;
    height: auto;
}

.elements-3{
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 3px black;
    background-color: #b9ff66;
    margin-bottom: 25px;
}
.elements-3 p{
    font-size: 18px;
    width: 100%;
    line-height: 2rem;
}
.elements-3-header{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}
.elements-3-header-text{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    font-size: 23px;   
}

.elements-3-header-text h3{
     font-size: 3em;
}
.elements-3-header-text h4{
    text-align: center;
    margin-top: 13px;
}
.elements-3-header-image {
    align-items: center;
    margin-top: 30px;
    margin-right: 1em;
}

.elements-3-header-image img{
    width: 30px;
    height: auto;
}

.elements-4{
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 3px black;
    background-color: #b9ff66;
    margin-bottom: 25px;
}
.elements-4 p{
    font-size: 18px;
    width: 100%;
    line-height: 2rem;
}
.elements-4-header{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}
.elements-4-header-text{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    font-size: 23px;   
}

.elements-4-header-text h3{
     font-size: 3em;
}
.elements-4-header-text h4{
    text-align: center;
    margin-top: 13px;
}
.elements-4-header-image {
    align-items: center;
    margin-top: 30px;
    margin-right: 1em;
}

.elements-4-header-image img{
    width: 30px;
    height: auto;
}

.elements-5{
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 3px black;
    background-color: #b9ff66;
    margin-bottom: 25px;
}
.elements-5 p{
    font-size: 18px;
    width: 100%;
    line-height: 2rem;
}
.elements-5-header{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}
.elements-5-header-text{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    font-size: 23px;   
}

.elements-5-header-text h3{
     font-size: 3em;
}
.elements-5-header-text h4{
    text-align: center;
    margin-top: 13px;
}
.elements-5-header-image {
    align-items: center;
    margin-top: 30px;
    margin-right: 1em;
}

.elements-5-header-image img{
    width: 30px;
    height: auto;
}

.elements-6{
    border-radius: 30px;
    width: 100%;
    padding: 30px;
    box-shadow: 0px 3px black;
    background-color: #b9ff66;
    margin-bottom: 25px;
}
.elements-6 p{
    font-size: 18px;
    width: 100%;
    line-height: 2rem;
}
.elements-6-header{
    display: flex;
    justify-content: space-between;  
    width: 100%;
    border-bottom: 1px solid black;
    align-items: center;
}
.elements-6-header-text{
    display: flex;
    text-align: center;
    align-items: center;
    gap: 40px;
    width: 100%;
    font-size: 22px;   
}

.elements-6-header-text h3{
     font-size: 3em;
}
.elements-6-header-text h4{
    text-align: center;
    margin-top: 13px;
}
.elements-6-header-image {
    align-items: center;
    margin-top: 30px;
    margin-right: 1em;
}

.elements-6-header-image img{
    width: 30px;
    height: auto;
}
@media (max-width:450px) {
    .elements-1-header-text h3, .elements-2-header-text h3, .elements-3-header-text h3, .elements-4-header-text h3, .elements-5-header-text h3, .elements-6-header-text h3{
        font-size: 40px;
    }
    .elements-1-header-text h4, .elements-2-header-text h4, .elements-3-header-text h4, .elements-4-header-text h4, .elements-5-header-text h4, .elements-6-header-text h4{
        font-size: 17px;
    }    
    .elements-1-header-text, .elements-2-header-text, .elements-3-header-text, .elements-4-header-text, .elements-5-header-text, .elements-6-header-text{
        gap: 7px;
    }
}
@media (max-width: 375px) {
    .process-header h3{
        font-size: 1.7em;
    }
    .elements-3-header-text h3 {
        font-size: 30px;
    }
    .elements-3-header-text h4{
        font-size: 14px;
    }
}

.team-section{
    width: 100%;
    padding: 27px 2em;
}

.team-section-header{
    width: 100%;
}

.team-section-header h3{
    font-size: 2em;
    /* line-height: 3rem; */
    background-color: #b9ff66;
    width: 3em;
}

.team-section-header p{
    font-size: 24px;
    line-height: 2rem;
    margin-bottom: 30px;
    /* width: 100%; */
}

.team-elements{
    width: 100%; 
    gap: 30px;
    padding: 20px; 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
}

.team-elements-1{
    width: 100%;
    border: 1px solid black;
    padding: 15px;
    border-radius: 2em;
    box-shadow: 0px 3px black;
}

.team-elements-1:hover{
    box-shadow: 2px 6px black;
    background-color: rgb(98, 138, 97);
    color: white;
}
.team-elements-header{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 10px 0;
    border-bottom: 1px solid black ;

}

.team-header-2{
    display: inline-flex;
    gap: 20px;
    padding: 10px;
    align-items: center;
}
.team-image-2{
   float: right;
}

.team-text h4{
    font-size: 25px;
}
.team-text h5{
    font-size: 13px;
}
.team-elements-image{
    padding: 7px;
}

@media (max-width: 1216px) {
    .team-elements{
        display: grid;
        grid-template-columns: 1fr 1fr ;
    }
}

@media (max-width: 826px) {
    .team-elements{
        display: grid;
        grid-template-columns:1fr ;
    }
}
@media (max-width: 400px) {
    .team-elements-image img{
        width: 75px;
    }
    .team-text h4{
        font-size: 19px;
    }
    .team-image-2{
        width: 24px;
    }
    .team-elements-1 p{
        font-size: 13px;
    }
    .team-elements-1{
        margin-right: -8px;
    }
}
.team-button{
    padding: 20px;
    text-align: right;
    width: 100%;
}

.team-button a{
    color: white;
    background-color: #000000;
    border: none;
    padding: 17px 45px;
    text-decoration: none;
    border-radius: 10px;
}
.team-button a:hover{
    background-color: #b9ff66;
    color: black;
}
/* end of team section */
.contact-section{
    width: 100%;
    padding: 27px 2em;
}

.contact-header{
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.contact-header h3{
    font-size: 2em;
    /* line-height: 3rem; */
    background-color: #b9ff66;
    align-items: center;
    width: fit-content;
  
}

.contact-header p{
    font-size: 28px;
    line-height: 2rem;
    margin-bottom: 30px;
    width: 100%;
}

.form{
    width: 100%;
    padding: 10px;
    background-color: #f3f3f3;
    border: 1px solid #f3f3f3;
    border-radius: 33px;
    display: flex;
    
}

.form-button{
    padding: 20px;
    width: 100%;
    display: flex;
    gap: 30px;
}

.form-text{
    width: 100%;
    padding:0 20px;
    align-items: left;
}
.form-inputs{
    padding: 12px;
}

.form-inputs input{
    width: 100%;
    height: 60px;
    padding:10px 10px;
    border-radius: 12px;
}

.form .form-inputs label{
    width: 100%;
    padding: 13px 0px;
    display: flex;
}

.form-inputs textarea{
    border-radius: 20px;
    padding: 10px 10px;
    font-size:30px;
    width: 100%;
}

.form-image{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    overflow: hidden;
}
.form-image img{
    width: 100%;
    height: auto;
    max-width: none; 
}
.form-btn{
    width: 100%;
    gap: 10px;
    border-radius: 12px;
    text-align: center;
    padding: 16px 35px;
    background-color: #000000;
}
.form-btn a{
    color: white;
    border: none;
    text-decoration: none;
    
}

.form-btn:hover{
    background-color: #659c23;
    color: red;
}

.form-btn a:hover{
    color: black;
}

@media (max-width: 768px) {
    .form-image{
        display: none; 
    }
}

footer{
    width: 100%;
    /* padding: 20px 0px; */
    /* border: 2px solid black; */
    background-color: #f3f3f3;
    border-radius: 30px;
}

.footer-header{
    display: flex;
    justify-content: space-around;
    width: 100%;
    padding: 30px;
}

.footer-header-image{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 7px;
    width: 30px;
}

.footer-header-image img{
    width: 25px;
    height: auto;
    background-color: #f3f3f3;
}

.footer-links{
    display: flex;
    justify-content: space-around;
    /* width: 100%; */
    gap: 30px;
}

.footer-links a{
    color: black;
    text-decoration: none;
}

.footer-images{
    display: flex;
    justify-content: space-around;
    gap: 30px;
}

.footer-body{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0px;
    padding:10px 16px;
   
}
.footer-element{
    width: 100%;
    margin:0px 3em;
    line-height: 25px;
}

.footer-form{
    width: 100%;
    border-radius: 14px;
    padding: 40px 30px;
    /* gap: 10px; */
    background-color: #444141;
    text-align: center;
}

.footer-form:hover{
    background-color: #b9ff66;
    color: black;
}

.footer-form a:hover{
    color: rgb(255, 255, 255);
    background-color: #000000;
}

.footer-form input{
    padding:10px 20px;
    border-radius: 12px;
     align-items: center;
    text-align: center;
    justify-content: center;

}

.footer-form a{
    color: rgb(0, 0, 0);
    background-color: #b9ff66;
    border: none;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 10px;
    margin-left:10px;
    align-items: center;
    text-align: center;
    justify-content: center;

}
.line hr {
    border: 0;
    border-top: 1px solid #000000;
    /* margin: 20px 0; */
    margin-left: 50px;
    margin-right: 50px;
}

.footer-copyright{
    width: 100%;
    color: black;
    padding: 30px;
    display: flex;
    justify-content: center;
    gap: 60px;
    /* margin-left: 30px; */
}

.footer-copyright p{
    align-items: left;
}

.footer-copyright a{
    color: black;
    text-decoration: none;
    float: right;
}
.footer-image{
    display: none;
}

@media (max-width: 974px) {
    .footer-images{
        display: none;
    }
    .footer-header-image{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-left: 10px;
        margin-bottom: 10px;
    }
    .footer-header{
        flex-direction: column;
        gap: 0px;
        padding: 10px;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .footer-element h3{
        font-size: 25px;
        justify-content: center;
        margin-bottom: 10px;
    }
    .footer-element p{
        line-height: 25px;
    }
    .footer-links{
        flex-direction: column;
        align-items: center;
        /* width: 100%; */
        gap: 10px;
    }
    .footer-body{
        flex-wrap: wrap;
        align-items: center;
        text-align: center;
    }
    .footer-form{
        flex-direction: column;
        display: flex;
        justify-content: center;
        gap: 20px;
        background-color: #a4a2a2;
    }
    .footer-form a{
        margin-left: 0;
    }
    .footer-copyright{
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 10px;
        font-size: 15px;
    }
    .footer-image{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 6px;
        margin-left: 10px;
        margin-bottom: 10px;
        padding: 10px;
    }
    .footer-image img{
        width: 30px;
        height: auto;
        max-width:none;
    }
    .show{
        display: none;
    }
}